body, div {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    color: #847577
}

p, label, button {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: #847577
}

button {
    width: 100%;
    border-radius: 100px;
    padding: 10px 20px;
    color: #0060DF;
    background-color: transparent;
    border: solid 3px #0060DF;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    color: #fbfbf2;
    background-color: #0060DF;
}

#map {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.settings {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fbfbf2;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.settings h2, h3 {
    padding: 0;
    margin: 0 0 10px 0;
}

.settings .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

.settings .grid .date-range {
    grid-row-start: 2;
    position: relative;
    margin-top: 10px;
}

.settings .grid .date-range input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 7px;
    position: absolute;
    pointer-events: none;
    background-color: #847577;
    border-radius: 12px;
}

.settings .grid .date-range input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    cursor: pointer;
    background-color: #847577;
    border: 3px solid #fbfbf2;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}
  
.settings .grid .date-range input[type=range]::-moz-range-thumb {
    pointer-events: all;
    cursor: pointer;  
    background-color: #0060DF;
    border: 3px solid #fbfbf2;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}

.settings .grid .date-range #slider_one {
    height: 0;
    z-index: 1;
    margin-top: 7px;
}

.settings .grid .type-selection {
    grid-row-start: 2;
    margin-top: 8px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
}

.modal.active {
    pointer-events: all;
    opacity: 1;
}

.modal .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.modal .card {
    position: absolute;
    margin: 100px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fbfbf2;
    z-index: 100;
}

.modal .card .grid {
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

.modal .card img {
    width: 100%;
    height: auto;
    max-height: 65vh;
    object-fit: cover;
    border-radius: 20px;
}

.modal .card h2 {
    margin: 0;
}

.modal .card h3, .modal .card p {
    margin: 0 0 30px 0;
}